* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 50px;
    margin-top: 50px;
}

h1 {
    color: #445161;
    font-size: 30px;
}

h2 {
    color: #445161;
    font-size: 25px;
}

.text {
    color: 333333;
    line-height: 25px;
}

.bold {
    color: 333333;
    font-weight: bold;
}

.redtext {
    color: red;
}

.homework {
    color: #336666;
    font-size: 20px;
}

.textright {
    text-align: right;
}

.uppertext {
    text-transform: uppercase;
}

.italictext {
    font-style: italic;
}

.underlinetext {
    text-decoration: underline;
}

.centertext {
    text-align: center;
}

.text {
    font-size: 24px;
    color: #333333;
}

.linetext {
    text-decoration: line-through;
}

.timenew {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

.shadow {
    text-shadow: 1px 1px 1px #333333;
}